body {
  background: #000;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  height: calc(100% - 100px);
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 900px;
  height: 100%;
}

.box-center {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.box-center .fo {
  margin-bottom: -40px;
}

.box-center .fo img {
  width: 600px;
  height: 600px;
}

.box-center .floor {
  width: 100%;
  height: 200px;
  background: #3b322b;
}

.box-center .censer {
  position: absolute;
  bottom: -20px;
}

.box-center .censer img {
  height: 300px;
}

.censer .xiang {
  position: absolute;
  bottom: 50px;
}

.censer .xiang > .wax {
  height: 167px;
}

.censer .xiang:nth-child(1) {
  left: 40%;
}

.censer .xiang:nth-child(2) {
  left: 50%;
}

.censer .xiang:nth-child(3) {
  left: 60%;
}

.box-center .cushion {
  position: absolute;
  bottom: 0;
  width: 200px;
  background: yellow;
}

.box-center .cushion-top {
  height: 100px;
  background: #aa5f00;
}

.box-center .cushion-bottom {
  height: 30px;
  background: red;
}

.box-left {}

.box-right {}

.candle {
  position: relative;
  width: 18px;
  height: 400px;
  -webkit-animation: blink 0.1s infinite;
  animation: blink 0.1s infinite;
}

.wick {
  position: absolute;
  width: 3px;
  height: 27px;
  background: #23161a;
  top: 49px;
  left: 50%;
  transform: translateX(-50%) skewX(2deg);
  border-radius: 10%;
  box-shadow: 0 0 1px 0px black;
}

.wick:before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  height: 5px;
  box-shadow: 0 -7px 5px 4px white, 0 -5px 5px 4px rgba(255, 215, 0, 0.7),
    0 -2px 5px 4px rgba(255, 106, 0, 0.7), 0 3px 2px 2px black;
}

.wick:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0px;
  height: 0px;
  box-shadow: 0 2px 1px 1px gold, 0 8px 1px 6px gold,
    0 -2px 2px 2px rgba(98, 33, 27, 0.8), 0 0px 1px 2px rgba(255, 106, 0, 0.7),
    0 0px 2px 2px #ff6a00, 0 2px 2px 2px gold;
}

.flame {
  width: 14px;
  height: 75px;
  margin: 0px auto;
  position: relative;
  -webkit-animation: move 3s infinite, move-left 3s infinite;
  animation: move 3s infinite, move-left 3s infinite;
  transform-origin: 50% 90%;
}

.flame .top {
  width: 14px;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-top-left-radius: 500%;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 500%;
  border-bottom-right-radius: 25px;
  transform: skewY(-10deg);
  box-shadow: 0 0px 0px 1px white, 0 -13px 1px 2px white, 0 -15px 1px 1px gold,
    0 -18px 3px 2px #ff6a00, 0 0px 67px 5px #ff6a00, 0 -5px 1px 2px white,
    0 -2px 2px 1px white;
  -webkit-animation: flame-up 4s infinite;
  animation: flame-up 4s infinite;
}

.flame .shadows {
  position: absolute;
  left: 20%;
  top: 0;
  width: 4px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 3px 12px 9px gold, 0 0px 50px 10px #ff6a00,
    0 7px 25px 7px #ff6a00, 3px 15px 3px 7px #ff6a00, 3px 25px 3px 7px #ff6a00,
    0 37px 25px 15px black;
}

.flame .bottom {
  transform: scale(0.6);
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 5px;
  height: 10px;
  border-radius: 1%;
  background: #2c2b39;
  box-shadow: 0 3px 5px 7px rgba(60, 76, 125, 0.3), 0 0px 2px 4px #2c2b39,
    0 -7px 5px 2px rgba(255, 106, 0, 0.5), 0 2px 3px 5px #2c2b39,
    0 -1px 5px 5px #2c2b39, 3px -5px 5px 3px red, 0 -7px 5px 5px gold,
    3px -12px 5px 3px gold, 0 1px 2px 5px #30537d, 0 -1px 1px 7px #76daff,
    0 1px 5px 6px #76daff;
}

.wax {
  position: relative;
  top: 3px;
  width: 100%;
  height: 320px;
  background: #ff9224;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      #ff9224 0px,
      #ff9224 12px,
      #58523a 30px);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9224", endColorstr="#58523a", GradientType=0);
  /* IE6-9 */
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: inset 0 4px 7px -1px #fbf348,
    inset 0 5px 30px -1.5px rgba(255, 0, 0, 0.4), inset 0 -2px 4px 1px black,
    0 0 2px 0px #ff6a00;
}

@-webkit-keyframes move {
  0% {
    transform: skewX(2deg) skewY(5deg);
  }

  50% {
    transform: skewX(-2deg) skewY(0deg);
  }

  100% {
    transform: skewX(2deg) skewY(5deg);
  }
}

@keyframes move {
  0% {
    transform: skewX(2deg) skewY(5deg);
  }

  50% {
    transform: skewX(-2deg) skewY(0deg);
  }

  100% {
    transform: skewX(2deg) skewY(5deg);
  }
}

@-webkit-keyframes move-left {
  50% {
    transform: skewX(3deg);
  }
}

@keyframes move-left {
  50% {
    transform: skewX(3deg);
  }
}

@-webkit-keyframes flame-up {
  50% {
    box-shadow: 0 0px 0px 3px white, 0 -38px 1px 2px white, 0 -41px 2px 3px gold,
      0 -50px 5px 4px #ff6a00, 0 0px 150px 10px #ff6a00, 0 -10px 2px 4px white,
      0 -5px 3px 3px white;
  }
}

@keyframes flame-up {
  50% {
    box-shadow: 0 0px 0px 3px white, 0 -38px 1px 2px white, 0 -41px 2px 3px gold,
      0 -50px 5px 4px #ff6a00, 0 0px 150px 10px #ff6a00, 0 -10px 2px 4px white,
      0 -5px 3px 3px white;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.95;
  }
}

@keyframes blink {
  50% {
    opacity: 0.95;
  }
}